* {margin: 0; padding: 0;}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 90%;
    background-color: #09062b;
    color: white;
    font-family: 'Cinzel Decorative', sans-serif;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "intro"
    "main"
    "footer";
}

header#header1 {
    grid-area: header;
}

nav#navbar1 {
    grid-area: navbar;
}

aside#aside1 {
    grid-area: intro;
}

div#article1 {
    grid-area: main;
}

footer#footer1 {
    grid-area: footer;
}

body > header > img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

body > header > nav.horizontalNav li {
    background-color: #09062b;
}

nav.horizontalNav li {
    display: block;
    float: left;
    width: 20%;
    overflow: hidden;
}

nav.horizontalNav li a:hover:not(.active){
    background-color: #f46ae7;
    border-radius: 10px;
}

.active {
    background-color: #09062b;
}

nav.horizontalNav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

aside > h1 {
    background-color: #14eef4;
    padding: 10px;
    border-radius: 10px;
}

div > img {
    background-color: #14eef4;
    padding: 25px;
    border-radius: 100px;
}

div > p {
    text-align: justify;
    background-color: #09062b;
    border: 2px solid #14eef4;
    border-radius: 10px;
    padding: 15px;
}

footer {
    border-left: 1px solid #f46ae7;
    border-right: 1px solid #f46ae7;
}

footer > h2 {
    text-align: left;
    text-decoration: underline;
}

footer > ul > li {
    text-align: left;
    list-style: none;
    float: left;
    width: 30%;
}
